/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
  @extend .cf;
  padding: 1.5em;
  border-top: 1px solid $light-gray;
}

  #reply-title {
    margin: 0;
  }

  .logged-in-as {
    color: $meta-gray;
    font-style: italic;
    margin: 0;

    a {
      color: $text-color;
    }
  }

  .comment-form-comment {
    margin: 1.5em 0 0.75em;
  }

  .form-allowed-tags {
    padding: 1.5em;
    background-color: $light-gray;
    font-size: 0.9em;
  }

  /* comment submit button */
  #submit {
    @extend .blue-btn;
    float: right;
    font-size: 1em;
  }

  /* comment form title */
  #comment-form-title {
    margin: 0 0 1.1em;
  }

  /* cancel comment reply link */
  #cancel-comment-reply {
    a {}
  }

  /* logged in comments */
  .comments-logged-in-as {}

  /* allowed tags */
  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
  }

  /* no comments */
  .nocomments {
    margin: 0 20px 1.1em;
  }
