/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
}

  /*
  if you checked out the link above:
  http://www.alistapart.com/articles/organizing-mobile/
  you'll want to style the footer nav
  a bit more in-depth. Remember to keep
  it simple because you'll have to
  override these styles for the desktop
  view.
  */
  .footer-links {

    ul {

      li {}

    }

  } /* end .footer-links */


  .copyright {}