/*********************
GENERAL STYLES
*********************/

body {
  font-family: $sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}