/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;

  nav {
  	a {
  		color:$light-gray;
  	}
  }
}

  #logo {

    a {
      color: $white;
    }

    padding:20px 20px 20px 20px;
    background:$gold;
    margin:0;
    transition: background-color 0.7s ease;
    &:hover {
      background:$f-red;
    }
  }
