/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 300;
  font-family:$serif;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

.entry-content h2 {
 
}

h3, .h3 {
  font-size: 1.3em;
  margin-top:0;
  &:after {
  content: '';
  display: block;
  border-top:2px solid #ddd;
  width:5em;
  margin-top:0.5em;
  margin-bottom:0.1em;
  }

  &:before {
  content: '';
  display: block;
  border-top:2px solid #ddd;
  width:5em;
  margin-top:0em;
  margin-bottom:0.5em;
  }

}


h4, .h4 {
  font-size: 1.125em;

  &:after {
  content: '';
  display: block;
  border-top:2px solid #ddd;
  width:4em;
  margin-top:0.5em;
  margin-bottom:0.1em;
  }

  &:before {
  content: '';
  display: block;
  border-top:2px solid #ddd;
  width:4em;
  margin-top:0.1em;
  margin-bottom:0.5em;
  }

}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}