/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;

  nav {
  	a {
  		color:$light-gray;
  	}
  }
}

  #logo {

    a {
      color: $black;
      text-shadow: 1px 1px 1px #ffde96;
    }

    padding:65px 20px 20px 20px;
    background:$gold;
    margin:0;
  }
