/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;

  nav {
  	a {
  		color:$light-gray;
  	}
  }
}

#logo {

    a {
      color: $black;
    }

    padding:20px 20px 20px 20px;
    background:#eee;
    border-top:5px solid $f-red;
    margin:0;
    transition:0.7s ease;

    &:hover {
      border-top-color:$gold;
    }
  }
