/*********************
LAYOUT & GRID STYLES
*********************/
#container {
  @include container();
}

.header{
  @include breakpoint($breakpoint-desktop) {
    @include span(first 3 of 12 );
    position:fixed;
    height: 100vh;
    overflow:auto;
  }
}

#content{
  @include breakpoint($breakpoint-desktop) {
    @include span(last 9 of 12);
  }
}

#inner-footer{
  @include breakpoint($breakpoint-desktop) {
    @include span(last 9 of 12);
  }
     padding-left:0.5em;
}

.col2{
  .column{
    @include breakpoint($breakpoint-desktop){ 
      @include gallery(6 of 12);
    }
  }
}