/*********************
LAYOUT & GRID STYLES
*********************/
// What does all of this mean? so many ids and other junk get that mess out of here!!
#container {
  @include container();
}

.header{
  @include breakpoint($breakpoint-desktop) {
    @include span(first 3 of 12 );
    position:fixed;
    height: 100vh;
  }
}

#content{
  @include breakpoint($breakpoint-desktop) {
    @include span(last 9 of 12);
  }
}

#inner-footer{
  @include breakpoint($breakpoint-desktop) {
    @include span(last 9 of 12);
  }
     padding-left:0.5em;
}

#footer {
}

#inner-header {
	
}

#main {
  overflow: hidden;
}

.article-footer {
  overflow: hidden;
}