/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  @include container();
}

#inner-content, #inner-footer, #inner-header {
  @include container();
  overflow: hidden;
}

#main {
  overflow: hidden;
}

.article-footer {
  overflow: hidden;
}