/*********************
LAYOUT & GRID STYLES
*********************/
// What does all of this mean? so many ids and other junk get that mess out of here!!
#container {
  @include container();
}

.header{
  @include span(first 3 of 12 );
  position:fixed;
  height: 100vh;
  margin-top:-38px;
  padding-top:38px;
}

#content{
  @include span(last 9 of 12);
}

#inner-content, #inner-footer, #inner-header {
  @include container();
  overflow: hidden;
}

#main {
  overflow: hidden;
}

.article-footer {
  overflow: hidden;
}