/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline:none;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
    outline:none;
  }

  /* on click */
  &:active {
    outline:none;

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

a.button {
  background:$f-red;
  color:$white;
  padding:10px 20px;
  font-family:$serif;
  font-size:1.3em;
  transition:all 0.4s ease;
  &:hover {
    background:$gold;
  }
}