
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/


.header-nav {

  // opacity: 0;
  @include breakpoint($breakpoint-mobile) {
    display:none;
  }

  body.active-mobile &{
    top: 0;
    left: 0;
    display:block;
  }

  @include breakpoint($breakpoint-desktop) {

  }

}


.header nav {
  border-bottom: 0;
  margin: 0;

  li {
     list-style-type:none;
      font-family:$serif;
      font-size:1.1em;

    a {
      display:block;
      color: $white;
      text-decoration: none;
      padding:0.5em 1.5em;


      /*
      remember this is for mobile ONLY, so there's no need
      to even declare hover styles here, you can do it in
      the style.scss file where it's relevant. We want to
      keep this file as small as possible!
      */
      &:hover, &:focus {
        color:$white;
        background:#777;
      }
    }

    &:first-child {}

    &:last-child {}

    /*
    so you really have to rethink your dropdowns for mobile.
    you don't want to have it expand too much because the
    screen is so small. How you manage your menu should
    depend on the project. Here's some great info on it:
    http://www.alistapart.com/articles/organizing-mobile/
    */
    ul.sub-menu,
    ul.children {

      li {

        a {
          padding-left: 50px;
          color:#ccc;
          font-size:0.9em;
          line-height:0.8;

          &:hover,
          &:focus {}

          &:link {}

        }

        &:first-child {}

        &:last-child {

        }

      }

    }

  } /* end .menu li */

  /* highlight current page */
  li.current-menu-item {
  }

  li.current_page_item {
    a {
      background:$white;
      color:$black;
    }
    ul li a {
      color:$black;
      background:#ccc;
      border:none;
        &:hover {
          color:$white;
          background:#888;
        }
    }
  }

  li.current_page_ancestor {
  }  /* end current highlighters */

} /* end .nav */



.show-nav {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 53px;
  right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 35px;
  box-sizing: content-box;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover {
      color:$white;
  }

  .active-mobile &{
    transform: rotate(90deg);  
  }
  
  @include breakpoint($breakpoint-desktop) {
    display: none;
    visibility: hidden;
    right: -99999px;
  }
}