/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
  color:$white;
  font-size:1em;
  padding-top:1.5em;
}

  .widgettitle {}

  .widget {
    max-width:100%;

    ul {

      li {

        &:first-child {}

        &:last-child {}

        a {}

        /* deep nesting */
        ul {}

      }

    }

  }

  .no-widgets {
    background-color: $white;
    padding: 1.5em;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 1.5em;
  }

  .widget_search {
    label {
      display:none;
    }
    input#s {
      max-width:90%;
      background:#fdedcb;
      border-radius:5px;
      color:$black;
    }
    #searchsubmit {
      display:none;
    }
  }
