.vcubar{
  background: $white;
  border-top: 3px solid $f-gray;
  border-bottom: 3px solid $f-gray;
  
  a{
    display: block;
    position: absolute;
    z-index: 2;
    height: 100%;
    line-height: 40px;

    &.vcu{
      width: 346px;
      &:hover {
        .vcu-dk {
          opacity: 0;
        }
        .vcu-color {
          opacity: 1.0;
        }
      }
    }

    &.vcuarts{
      width: 84px;
      right: 2%;
      &:hover {
        .arts-dk {
          opacity: 0;
        }
        .arts-color {
          opacity: 1.0;
        }
      }
    }
  }

  .inner-vcubar{
    @include container();
    height: 2em;
    position: relative;
    overflow: hidden;
  }
}

a.vcu-fallback {
  display: none;
}
.no-svg a.vcu-fallback {
  display: block;
  background: url('../images/svg/fallbacks/logo-vcu-dk.png');
  width: 346px;
  height: 17px;
  max-width: 60px;
  @include breakpoint($breakpoint-481, $no-query: '.no-mediaqueries'){
    max-width: 346px;
  }
  &:hover {
    background: url('../images/svg/fallbacks/logo-vcu-color.png');
  }
}
a.vcuarts-fallback {
  display: none;
}
.no-svg a.vcuarts-fallback {
  display: block;
  background: url('../images/svg/fallbacks/logo-vcuarts.png');
  width: 84px;
  height: 19px;
  right: 2%;
  &:hover {
    background: url('../images/svg/fallbacks/logo-vcuarts-color.png');
  }
}

.vcu-color, .arts-color {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}
.vcu-dk, .arts-dk {
  transition: opacity .15s ease-in-out;
}
.vcu-name {
  display: none;
  @include breakpoint($breakpoint-481, $no-query: '.no-mediaqueries'){
    display: block;
  }
}